{% extends '::layout.html.twig' %}


{% block languages %}

{% endblock %}
{% block menu %}
    <table class="menu_index">
        <tr>
            <td class="logo" >
                <a href ="{{ path('index_page') }}" id="href">
                    <div class="orange_logo"> smartBookmark</div>
                </a>
            </td>

            <td class="gap">
            </td>

            <a href="{{ path('login_path') }}" id="href" class="index_href">
                <td class="enter">
                    <a href="{{ path('login_path') }}" id="href">
                        <div class="orange_button"> {% trans %}Вхід{% endtrans %}</div>
                    </a>
                </td>
            </a>

            <td class="gap">
            </td>


                <td class="register">
                    <a href="{{ path('registration_path') }}" id="href">
                        <div class="orange_button"> {% trans %}Реєстрація{% endtrans %}</div>
                    </a>
                </td>


            <td class="gap">
            </td>

            <td class="fast_enter">
            </td>

            <td class="gap">
            </td>

            <td class="languages" style="vertical-align:bottom;text-decoration:none;color:white;
            ">&nbsp;&nbsp;
                <a href="{{ path('index_page', {'_locale':'en'}) }}" style="text-decoration:none">
                    <img src="/bundles/vladyslavsmartbookmark/images/England.png">
                </a>

                <a href="{{ path('index_page', {'_locale':'ukr'}) }}" style="text-decoration:none">
                    <img src="/bundles/vladyslavsmartbookmark/images/Ukraine.png">
                </a>
            </td>
        </tr>

    </table>
    {#<div class="menu_index">#}
        {#<div class="index_logo">#}
            {#<br><br>#}
            {#smartBookmark#}
        {#</div>#}

        {#<a href="{{ path('login_path') }}" id="href" class="index_href">#}
            {#<div class="enter">#}
                {#{#<br><br><br><br><br>#}
                {#<span id="enter_label">Вхід</span>#}
            {#</div>#}
        {#</a>#}

        {#<a href="{{ path('registration_path') }}" id="href">#}
            {#<div class="register">#}
                {#<br><br><br><br><br>#}
                {#Реєстрація#}
            {#</div>#}
        {#</a>#}

        {#<div class="fast_enter">#}

        {#</div>#}

        {#<div class="languages">#}

        {#</div>#}

    {#</div>#}
{% endblock %}

{% block content %}
    <div class="content_index">
        <div class="sp-slideshow">

            <input id="button-1" type="radio" name="radio-set" class="sp-selector-1" checked="checked" />
            <label for="button-1" class="button-label-1"></label>

            <input id="button-2" type="radio" name="radio-set" class="sp-selector-2" />
            <label for="button-2" class="button-label-2"></label>

            <input id="button-3" type="radio" name="radio-set" class="sp-selector-3" />
            <label for="button-3" class="button-label-3"></label>

            {#<input id="button-4" type="radio" name="radio-set" class="sp-selector-4" />#}
            {#<label for="button-4" class="button-label-4"></label>#}

            {#<input id="button-5" type="radio" name="radio-set" class="sp-selector-5" />#}
            {#<label for="button-5" class="button-label-5"></label>#}

            <label for="button-1" class="sp-arrow sp-a1"></label>
            <label for="button-2" class="sp-arrow sp-a2"></label>
            <label for="button-3" class="sp-arrow sp-a3"></label>
            {#<label for="button-4" class="sp-arrow sp-a4"></label>#}
            {#<label for="button-5" class="sp-arrow sp-a5"></label>#}

            <div class="sp-content">
                <div class="sp-parallax-bg" style="background: #ff6e22;"></div>
                <ul class="sp-slider clearfix">
                    <li class="main_li">
                        <span style="padding-bottom:10px">smartBookmark - зберігайте свій час та закладки!</span>
                        <img src="/bundles/vladyslavsmartbookmark/images/one.jpeg" alt="image01"
                        >
                    </li>
                    <li class="main_li">
                        <span>smartBookmark - діліться закладками з друзями!</span>
                        <img src="/bundles/vladyslavsmartbookmark/images/two.jpg" alt="image02"
                             />
                    </li>
                    {#<li>#}
                        {#вибирайте зручну для Вас мову!#}
                        {#<img src="/bundles/vladyslavsmartbookmark/images/image3.png" alt="image03" />#}
                    {#</li>#}
                    <li class="main_li">
                        <span>і ще, smartBookmark - це абсолютно безкоштовно=)</span>
                        <img src="/bundles/vladyslavsmartbookmark/images/four.png" alt="image03;"
                        >
                    </li>
                </ul>
            </div><!-- sp-content -->

        </div><!-- sp-slideshow -->


    </div>
{% endblock %}

{% block footer %}
    <table class="footer_index">
        <tr>
            <td>
                Copyright 2014 © - web_guru
            </td>
        </tr>
    </table>
{% endblock %}