{% extends '::base_admin.html.twig' %}

{% block body -%}
    <h1>Question</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th style="font-size:18px;color:darkslategray">Id</th>
                <td style="font-size:18px;color:darkred">{{ entity.id }}</td>
            </tr>
            <tr>
                <th style="font-size:18px;color:darkslategray">Description</th>
                <td style="font-size:18px;color:darkred">{{ entity.description }}</td>
            </tr>
            <tr>
                <th style="font-size:18px;color:darkslategray">Type</th>
                <td style="font-size:18px;color:darkred">{{ entity.type }}</td>
            </tr>
            <tr>
                <th style="font-size:18px;color:darkslategray">Quantityofanswers</th>
                <td style="font-size:18px;color:darkred">{{ entity.quantityOfAnswers }}</td>
            </tr>
            <tr>
                <th style="font-size:18px;color:darkslategray">Mark</th>
                <td style="font-size:18px;color:darkred">{{ entity.mark }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('question') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('question_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
