{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Device list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Serialnumber</th>
                <th>Model</th>
                <th>Numberofmodel</th>
                <th>Cenditionofdevice</th>
                <th>Warranty</th>
                <th>Propertyofsc</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_device_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.serialNumber }}</td>
                <td>{{ entity.model }}</td>
                <td>{{ entity.numberOfModel }}</td>
                <td>{{ entity.cenditionOfDevice }}</td>
                <td>{{ entity.warranty }}</td>
                <td>{{ entity.propertyOfSc }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_device_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_device_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_device_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
