{% extends '::layout.html.twig' %}


{#
    adding form in content block
#}
{% block content %}
    <div class="content">
        <table class="add_table">
            <tr class="tr_class">
                <td>
                    {% trans %}Додавання закладки {% endtrans %}
                </td>
            </tr>
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <tr>
                <td>
                    {{ form_errors(form.name) }}

                    {{ form_widget(form.name,
                    {'attr':
                    {'class': 'form_name',
                    'placeholder': 'Назва' }}) }}

                </td>
            </tr>

            <tr>
                <td>
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description, {'attr': {'class': 'form_name','placeholder': "Опис"}}) }}
                </td>
            </tr>

            <tr>
                <td>
                    {{ form_errors(form.link) }}
                    {{ form_widget(form.link, {'attr': {'class': 'form_name','placeholder': "URL"}}) }}
                </td>
            </tr>

            <tr>
                <td>
                    {{ form_errors(form.category) }}
                    {{ form_widget(form.category, {'attr': {'class': 'form_name','placeholder': "Категорія"}}) }}
                </td>
            </tr>

            <tr>
                <td>
                  {{ form_widget(form.add,{'attr': {'class': 'add_button'}}) }}
                </td>
            </tr>

            {{ form_end(form) }}

        </table>

    </div>
{% endblock %}



