{% extends '::layout.html.twig' %}



{% block content %}


    <div class="content">
        <div style="padding-top:10px;padding-left:15px; height:470px;width:12%;float:left;overflow:scroll;">
            <a href="{{ path('cabinet') }}" class="category_name"><span>
                        Всі закладки
                    </span></a><br>
            {% for category in categories %}
                <a href="{{ path('cabinet', {'category_id':category.getId()}) }}" class="category_name"> <span>
                           {{ category.getName() }}

                       </span></a>
                <br>
            {% endfor %}


        </div>
        <div style="float:left;width:85%;">

            {% for bookmark in bookmarks %}
               <div class="one">
                    <table>
                        <tr>
                            <td class="bookmark_name">
                                {{ bookmark.getName()|slice(0,28) }}
                            </td>
                        </tr>
                        <tr>
                            <td class="tr_hover">
                                {{ bookmark.getDescription()|slice(0,145) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <a href="{{ bookmark.getLink() }}">
                                        <li>{% trans %}Перейти {% endtrans %}</li>
                                    </a>
                                    <a href="{{ path('send_bookmark', {'id':bookmark.getId()}) }}">
                                        <li>{% trans %}Надіслати{% endtrans %}</li>
                                    </a>
                                    <a href="{{ path('delete_bookmark',{'id':bookmark.getId()}) }}">
                                        <li>{% trans %}Видалити{% endtrans %}</li>
                                    </a>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
            {% if quantityOfPages>1 %}
                <div style="margin:auto;padding-top:20px;clear:both;text-align: center">
                    {% for i in range(1, quantityOfPages+1) %}
                        <a href="{{ path('cabinet', {'page':i}) }}" class="paginator_link">{{ i }} </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}




