{% extends '::layout.html.twig' %}



{% block menu %}
    <div class="menu">
        <div class="logo">
            <br><br>
            smartBookmark
        </div>

        <a href="{{ path('add_bookmark') }}" id="href">
            <div class="elem">
                <br><br><br><br><br>
                Додавання
            </div>
        </a>


        <a href="{{ path('send_list') }}" id="href">
            <div class="elem">
                <br><br><br><br><br>
                Надіслати-
            </div>
        </a>

        <a href="{{ path('cabinet') }}" id="href">
            <div class="elem">
                <br><br><br><br><br>
                Мої закладки
            </div>
        </a>

        <a href="{{ path('responsed_bookmarks') }}" id="href">
            <div class="elem">
                <br><br><br><br><br>
                Надіслані
            </div>
        </a>


        <div class="last_elem">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                Вітаємо, <span style="color:green">{{ app.user.username }}</span>
            {% endif %}
            <br>
            <a href="{{ path('logout') }}" style="color:white;text-decoration: none">
                Вихід
            </a>
        </div>




    </div>
{% endblock %}

{% block content %}
    <div class="content">
        {%  for bookmark in bookmarks %}
            {#{% if loop.index%2!=0 %}#}
                {#<br>#}
            {#{% endif %}#}
            <a href="{{ bookmark.getLink() }}" style="text-decoration:none;">
            <div style="height:65px;width:150px;clear: both ; float:left;display:table-cell;vertical-align:middle; background:darkseagreen;margin:5px;text-align:center">
                {{ bookmark.getName() }}
            </div>
             </a>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <br>Copyright 2014 © - web_guru
    </div>
{% endblock %}


