{% extends '::layout.html.twig' %}



{% block menu %}
    <div class="menu">
        <div class="logo">
            <br><br>
            smartBookmark
        </div>

        <a href="{{ path('add_bookmark') }}" id="href">
            <div class="elem">
                <br><br><br><br><br>
                Додавання
            </div>
        </a>

        <a href="" id="href">
            <div class="elem">
                <br><br><br><br><br>
                Видалення
            </div>
        </a>

        <a href="" id="href">
            <div class="elem">
                <br><br><br><br><br>
                Надіслати
            </div>
        </a>

        <a href="{{ path('cabinet') }}" id="href">
            <div class="elem">
                <br><br><br><br><br>
                Мої закладки
            </div>
        </a>


        <div class="last_elem">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                Вітаємо, <span style="color:green">{{ app.user.username }}</span>
            {% endif %}
            <br>
            <a href="{{ path('logout') }}" style="color:white;text-decoration: none">
                Вихід
            </a>
        </div>




    </div>
{% endblock %}

{% block content %}
    <div class="content">
        {%  for bookmark in bookmarks %}
            {#{% if loop.index%2!=0 %}#}
                {#<br>#}
            {#{% endif %}#}
            <a href="{{ path('send_bookmark', {'id':bookmark.getId()}) }}">
            <div style="height:65px;width:150px;clear: both ;  background:darkseagreen;margin:5px; text-align:center;">
                {{ bookmark.getName() }}
            </div>
             </a>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <br>Copyright 2014 © - web_guru
    </div>
{% endblock %}


