{% extends '::layout.html.twig' %}


{% block content %}
    <div class="content">
        <table class="add_table">
            <tr class="tr_class">
                <td>
                    {% trans %}Відправка закладки другу {% endtrans %}

                </td>
            </tr>
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <tr>
                <td>
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email,{ 'attr':{'class':'input_login', 'placeholder':'Email'}}) }}
                </td>
            </tr>

            <tr>
                <td>
                    {{ form_widget(form.send,{ "attr":{"class":"add_button",
                    'label':''}}) }}
                </td>
            </tr>



            {{ form_end(form) }}

        </table>


    </div>
{% endblock %}




